.profile-dashboard-container {
  display: flex;
  width: 100%;
  margin: 0 ;
  padding: 0 ;
  /* The Gradient: Blue starts at the far left and transitions to White */
  background: linear-gradient(
    110deg, 
    #dbeafe 0%,    /* Soft light blue at the start */
    #f8fafc 40%,   /* Transitioning to very light gray/white */
    #ffffff 100%   /* Pure white for the main content area */
  );
  
  /* Ensures the background stays fixed if you scroll */
  background-attachment: fixed;
}


/* Main Content Area */
.profile-dashboard-main {
  flex: 1;

  padding: 32px;

}


